<%- include('header') %>
  <script>
    // Add file
    function addFileShow() {

      var modal = document.getElementById("addfile");
      modal.style.display = "block";
    }
    function closeBoxAddfile() {
      var modal = document.getElementById("addfile");
      modal.style.display = "none";
    }

    function hideAddFile() {

      var modal = document.getElementById("addfile");

      modal.style.display = "none";

      var fileInput = document.getElementById('myfile');
      var fileName = fileInput.files[0].name;

      document.getElementById("patcer_img").value = fileName;
      document.getElementById("patcer_db_img").value = fileName;

      document.fsubmitfile.submit();
    }

  </script>
  <style>
    #addfile {
      display: none;
    }

    #myfile_left {
      width: 83%;
      height: 40px;
    }

    #myfile_select_btn {}
  </style>

  <!--show box to add file -->
  <div id='addfile' class='messBox'>
    <div class='modalmess-content d-flex flex-column p-4'>
      <div><button class=" btn btn-dark  " onclick='closeBoxAddfile()'>X</button></div>
      <p class="p-2 d-flex txtMess">원하는 이미지를 업로드해주세요. </p>
      <div class="choosefile">
        <form action="/admin/upload_patcer" name="fsubmitfile" method="POST" enctype="multipart/form-data">
          <input type="file" name="myfile" id="myfile" class="inputfile inputfile-6" accept="image/jpeg, image/png">

          <label for="myfile" id="myfile_left"><span id="hidfile1"></span> </label>
          <label for="myfile" id="myfile_select_btn">
            <div class="btnfile" id="fileSelect">파일선택</div>
          </label>
          <script src="/javascripts/custom-file-input.js"></script>
      </div>
      <p class="d-flex flex-row-reverse">
        <button class='btn btn-primary mt-3' onclick="hideAddFile()">업로드</button>
        </form>
      </p>
    </div>
  </div>





  <!-- Content -->
  <div class="container mt-4 box-heigh1000">
    <h1 class="pt-3">
      <%= title %>
    </h1>

    <div class="container">
      <table class="table table-striped">
        <thead>
          <!-- <tr>
            
            <th >Username</th>
            <th >Password</th>

          </tr> -->
        </thead>
        <tbody>
          <% let i=1; dataPatcer.forEach(function(patcer) { %>
          <form method="post" action="/admin/patents-certifications-proUpdate" >
            <tr>
              <td class="">
                <label for="patcer_name">Patents and Certifications Name</label>
              </td>
              <td class="">
                <input type="text" placeholder="Type Patents and Certifications name" class="form-control" id="patcer_name" name="patcer_name" value="<%= patcer.patcer_name %>" 
                  required />
              </td>
            </tr>
            

            <tr>
              <td class="">
                <label for="patcer_img">Upload Patents and Certifications Image</label>
              </td>
              <td class="">

                <span class="input-group-text strSize" id="inputGroup-sizing-default">이미지 &nbsp; <i class="fa fa-upload"
                    style="font-size:18px" onclick="addFileShow()"></i></span>

                    <% 
                    var originalString = patcer.patcer_img; 
                    var patcer_img2 = originalString.substring(11); 
                  %>
                <input type="text" class="form-control" name="patcer_img" id="patcer_img" readonly  value="<%= patcer_img2 %>" >
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <span class="error" id="repasserr"> </span>
                <input type="hidden" name="patcer_id" value="<%= patcer.patcer_id %>"/>
                <input type="hidden" name="patcer_db_img" value="<%= patcer.patcer_img %>"/>

                <input type="submit" class="btn btn-primary  mt-3 btnSize" value="Submit">
                <a class="btn btn-danger mt-3" href="/admin/patents-certifications">
                  <i class="fas fa-times"></i> Cancel
                </a>
              </td>
            </tr>


          </form>
          <% i++; }); %>
        </tbody>
      </table>
      
    </div>

  </div>
  </div>

  <%- include('footer') %>