
<%- include('header') %>
<style>
    .menu-detail-button,
    .partnership-detail-button {
        padding: 2% 3%;
    }

    .main-title {
        font-size: 24px;
        font-weight: 700;
        clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    }

    .simulator-title {
        font-size: 28px;
    }

    @media screen and (min-width: 1200px) and (max-width: 1419px) {
        .nav-menu a {
            padding: 34px 8px 20px 8px;
        }

        .simg-body3 {
            font-size: 13px !important;
        }
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        .main-title {
            font-size: 22px !important;
        }
    }

    @media screen and (max-width: 479px) {
        .main-title {
            font-size: 18px !important;
        }
    }
</style>
    <section class="main-container simg-white simg-bg-tangerine">
        <div class="main-title simg-bg-tangerine simg-bg-white">
            SimG Co., Ltd.<br>Specialist in the development of<br>heavy equipment VR simulators.
        </div>
    </section>
    <section class="simulator-container">
        <div class="simulator simg-bg-white">
            <iframe src="https://www.youtube.com/embed/U9CL2skuM-M?si=9ImnxfBQQqkpU5q3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="simulator-info">
                <p class="simulator-type simg-body3 text-left simg-tangerine">Heavy Equipment Simulator</p>
                <h3 class="simulator-title simg-title2 text-left simg-black">Excavator Simulator</h3>
                <p class="simulator-description simg-body3 text-left simg-gray500">You can learn excavator practice with simulation equipment.</p>
                <a href="/en/product/2" class="menu-detail-button simg-body2 text-center simg-white simg-bg-blue">Read more</a>
            </div>
        </div>
        <div class="simulator simg-bg-white">
            <iframe src="https://www.youtube.com/embed/hU2xK6LCUeo?si=9xt2B9Nd0TwQZR16" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="simulator-info">
                <p class="simulator-type simg-body3 text-left simg-tangerine">Heavy Equipment Simulator</p>
                <h3 class="simulator-title simg-title2 text-left simg-black">Forklift simulator</h3>
                <p class="simulator-description simg-body3 text-left simg-gray500">You can learn forklift practice using simulation equipment.</p>
                <a href="/en/product/1" class="menu-detail-button simg-body2 text-center simg-white simg-bg-blue">Read more</a>
            </div>
        </div>
    </section>
    <section class="partnership-container">
        <div class="partnership-banner ">
            <div>
                <div class="partnership-type simg-body2 text-left simg-blue simg-bg-white  ">R&D</div>
                <div class="partnership-title simg-title2 text-left simg-white">Providing customized solutions for experts in each field</div>
                <div class="partnership-description simg-body1 text-left simg-white simg-opacity60">Provide customized innovation to businesses with the best solutions</div>
            </div>
            <a href="/en/r-d" class="partnership-detail-button simg-body2 text-center simg-blue simg-bg-white">Read more</a>
        </div>
    </section>
    <section class="news-container mt-3 simg-page-bg">
        <div class="section-title simg-heading4 text-center simg-black">LATEST NEWS</div>
        <p class="section-subtitle simg-body2 text-center simg-gray800 simg-opacity60">Check out the updates and news from SimG, which is revolutionizing industrial safety with the latest technology.</p>
        <button class="button-arrow" id="news-prev-button"><img src="/public/images/btn-arrow-left.png" alt="Before-News"></button>
        <div class="news-wrapper">
            <ul class="news-carousel">
                 <% dataNews.forEach(function(news) { %>
                <li class="news-item">
                    <img src="../uploads/news/<%= news.news_cover_image %>" alt="News Image 1">
                    <div class="news-content simg-bg-white">
                        <span class="news-category">&nbsp;</span>
                        <span class="news-date simg-body3 text-left simg-gray400"><%= news.news_date %></span>
                        <div class="news-title simg-body2 text-left simg-black"><%= news.news_title_en %></div>
                        <p class="news-description simg-body4 text-left simg-gray400">
                            <% 
                                var words = news.news_summary_en.split(' ');
                                var truncatedContent = words.slice(0, 9).join(' ');
                                if (words.length > 9) {
                                    truncatedContent += '...';
                                }
                                %> <%= truncatedContent %> <% 
                           
                            %>

                        </p>
                        <a href="/en/news/" class="news-detail-button simg-body2 text-center simg-bg-blue simg-white">Read more</a>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div> 
        <button class="button-arrow" id="news-next-button"><img src="../images/btn-arrow-right.png" alt="After-News"></button>
    </section>
    <section class="client-container pb-5">
        <div class="section-title simg-heading4 text-center simg-black">OUR CLIENTS</div>
        <p class="section-subtitle simg-body2 text-center simg-gray800 simg-opacity60">
            SimG Co., Ltd. collaborates with numerous brands around the world and provides customized 3D content solutions.</p>
        <button class="button-arrow swiper-button-prev simg-gray300" id="client-prev-button"></button>
        <div class="swiper client-wrapper">
            <div class="swiper-wrapper">
                <% dataClient.forEach(function(client) { %>
                    <div class="swiper-slide"><img src="../uploads/client/<%= client.client_logo %>"
                            alt="<%= client.client_name %>" title="<%= client.client_name %>"></div>
                    <% }); %>
            </div>
        </div>
        <button class="button-arrow swiper-button-next simg-gray300" id="client-next-button"></button>
    </section>
    <div class="contact-title-bg simg-page-bg">
        <section class="contact-container">
            <div class="section-title simg-heading4 text-center simg-white">CONTACT US</div>
            <p class="section-subtitle simg-body2 text-center simg-white">
                For R&D or product inquiries, use the form below. We’ll respond quickly.</p>

            <div class="contact-form pt-4 pb-5 simg-bg-white">
                <%- include('contactform') %>

            </div>
        </section>
    </div>
    <div id="simg-templete-footer"><%- include('footer') %></div>
</body>
</html>
