<%- include('header') %>
    <style>
        .popup-container {
            padding: 30px
        }
    </style>
    <script>
        function showVideoPage() {

            document.getElementById('popup').style.display = 'block';
        }

        function closeVideo() {

            document.getElementById('popup').style.display = 'none';
        }
    </script>
    <% dataProduct.forEach(function(product) { %>
        <div class="menu-tag simg-body4 simg-gray400"><a class="index-tag  simg-gray500" href="/vi">Trang chủ</a> > <a
                class="aboutUs-tag" href="#">
                <% if(product.cat_id==1){%>
                    Mô phỏng thiết bị hạng nặng
                    <% }else if(product.cat_id==2){ %>
                        Huấn luyện an toàn/Đề phòng tai nạn
                        <% }else if(product.cat_id==3){ %>
                            Chế tạo
                            <% }else if(product.cat_id==4){ %>
                                Công nghiệp đóng tàu
                                <% }else { %>
                                    Văn hóa/Du lịch
                                    <%}%>
            </a> > <a class="aboutUs-tag" href="#">
                <%= product.pro_title_vi %>
            </a></div>
        </div>

        <section class="product-container">
            <div class="product-page">
                <div class="product-image-area">
                    <!-- <img id="" src="/public/uploads/product/2024-07-24_HeaEquSim_ExcSim2.jpg.jpg" alt="here"> -->
                    <div id="service" style="padding:0px 20px">
                        <% if (product.pro_img1.length> 11){%>
                            <img src="/public/uploads/product/<%= product.pro_img1%>" />
                            <% }else if(product.pro_img2.length> 11){%>
                                <img src="/public/uploads/product/<%= product.pro_img2%>" />
                                <% }else if(product.pro_img3.length> 11){%>
                                    <img src="/public/uploads/product/<%= product.pro_img3%>" />
                                    <% }else if(product.pro_img4.length> 11){%>
                                        <img src="/public/uploads/product/<%= product.pro_img4%>" />
                                        <% }else {%>
                                            <img src="/public/uploads/product/<%= product.pro_img5%>" />
                                            <% }%>
                    </div>

                </div>

                <div class="product-info-area">
                    <div class="simg-title2 text-center simg-black">
                        <%= product.pro_title_vi %>
                    </div>
                    <% if(product.type_classify=='on' ){%>
                        <div class="product-info-model">
                            <div class="product-info-model-title simg-title4 text-left">Models</div>
                            <div class="product-info-model-list">
                                <% var dem=0; if (product.pro_img1.length> 11){ %>
                                    <div class="product-info-model-item active text-left" data-model="basic" id="img1"
                                        onclick="change_service('img1', '<%= product.pro_img1%>')">
                                        <div class="product-info-model-item-title simg-body2 simg-gray600">Dạng cơ bản</div>
                                        <div class="product-info-model-item-subTitle simg-body4 simg-gray300">VR-Basic
                                        </div>
                                    </div>


                                    <% dem=1; } %>

                                        <%if (product.pro_img2.length> 11){ if (dem == 0){ %>
                                            <div class="product-info-model-item text-left" data-model="hmd" id="img2"
                                                style="border:4px solid #25AAE2;"
                                                onclick="change_service('img2', '<%= product.pro_img2%>')">
                                                <div class="product-info-model-item-title simg-body2 simg-gray600"
                                                    style="color: #2D5FAB; font-weight: bold;">HMD</div>
                                                <div class="product-info-model-item-subTitle simg-body4 simg-gray300"
                                                    style="color: #2D5FAB; font-weight: bold;">VR-HMD</div>
                                            </div>
                                            <%}else{ %>
                                                <div class="product-info-model-item text-left" data-model="hmd"
                                                    id="img2"
                                                    onclick="change_service('img2', '<%= product.pro_img2%>')">
                                                    <div class="product-info-model-item-title simg-body2 simg-gray600">
                                                        HMD</div>
                                                    <div
                                                        class="product-info-model-item-subTitle simg-body4 simg-gray300">
                                                        VR-HMD</div>
                                                </div>

                                                <% } dem=1;} %>
                                                    <%if (product.pro_img3.length> 11){ if (dem == 0){ %>
                                                        <div class="product-info-model-item text-left"
                                                            style="border:4px solid #25AAE2;" data-model="multi-monitor"
                                                            id="img3"
                                                            onclick="change_service('img3', '<%= product.pro_img3%>')">
                                                            <div class="product-info-model-item-title simg-body2 simg-gray600"
                                                                style="color: #2D5FAB; font-weight: bold;">Đa màn hình</div>
                                                            <div class="product-info-model-item-subTitle simg-body4 simg-gray300"
                                                                style="color: #2D5FAB; font-weight: bold;">
                                                                VR-Multi-monitor</div>
                                                        </div>
                                                        <%}else{%>
                                                            <div class="product-info-model-item text-left"
                                                                data-model="multi-monitor" id="img3"
                                                                onclick="change_service('img3', '<%= product.pro_img3%>')">
                                                                <div
                                                                    class="product-info-model-item-title simg-body2 simg-gray600">
                                                                    Đa màn hình</div>
                                                                <div
                                                                    class="product-info-model-item-subTitle simg-body4 simg-gray300">
                                                                    VR-Multi-monitor</div>
                                                            </div>

                                                            <% }dem=1;} %>
                                                                <%if (product.pro_img4.length> 11){
                                                                    if (dem == 0){
                                                                    %>
                                                                    <div class="product-info-model-item text-left"
                                                                        style="border:4px solid #25AAE2;"
                                                                        data-model="desk" id="img4"
                                                                        onclick="change_service('img4', '<%= product.pro_img4%>')">
                                                                        <div class="product-info-model-item-title simg-body2 simg-gray600"
                                                                            style="color: #2D5FAB; font-weight: bold;">
                                                                            Dạng để bàn</div>
                                                                        <div class="product-info-model-item-subTitle simg-body4 simg-gray300"
                                                                            style="color: #2D5FAB; font-weight: bold;">
                                                                            VR-Desk</div>
                                                                    </div>
                                                                    <%}else{%>
                                                                        <div class="product-info-model-item text-left"
                                                                            data-model="desk" id="img4"
                                                                            onclick="change_service('img4', '<%= product.pro_img4%>')">
                                                                            <div
                                                                                class="product-info-model-item-title simg-body2 simg-gray600">
                                                                                Dạng để bàn</div>
                                                                            <div
                                                                                class="product-info-model-item-subTitle simg-body4 simg-gray300">
                                                                                VR-Desk</div>
                                                                        </div>
                                                                        <% } dem=1; } %>
                                                                            <%if (product.pro_img5.length> 11){
                                                                                if (dem == 0){
                                                                                %>
                                                                                <div class="product-info-model-item text-left"
                                                                                    style="border:4px solid #25AAE2;"
                                                                                    data-model="desk" id="img5"
                                                                                    onclick="change_service('img5', '<%= product.pro_img5%>')">

                                                                                    <div class="product-info-model-item-title simg-body2 simg-gray600 "
                                                                                        style="color: #2D5FAB; font-weight: bold;">
                                                                                        Đa màn hình + Đế chuyển động</div>
                                                                                    <div class="product-info-model-item-subTitle simg-body4 simg-gray300"
                                                                                        style="color: #2D5FAB; font-weight: bold;">
                                                                                        Multi-monitor + motion
                                                                                        base version</div>
                                                                                </div>
                                                                                <%}else{%>
                                                                                    <div class="product-info-model-item text-left"
                                                                                        data-model="desk" id="img5"
                                                                                        onclick="change_service('img5', '<%= product.pro_img5%>')">

                                                                                        <div class="product-info-model-item-title simg-body2 simg-gray600 "
                                                                                            style="color: #2D5FAB; font-weight: bold;">
                                                                                            Đa màn hình + Đế chuyển động</div>
                                                                                        <div class="product-info-model-item-subTitle simg-body4 simg-gray300"
                                                                                            style="color: #2D5FAB; font-weight: bold;">
                                                                                            Multi-monitor + motion
                                                                                            base version</div>
                                                                                    </div>
                                                                                    <% }} %>
                               
                            </div>
                        </div>

                        <%}%>
                            <div class="product-info-feature">
                                <div class="product-info-feature">
                                    <div class="product-info-feature-title simg-title4 text-left">Đặc trưng</div>
                                    <ul class="product-info-feature-contents text-left">
                                        <%- product.pro_content_vi%>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info-reference">
                                <% if(product.video_page=='on' ){%>
                                    <button class="product-info-reference-button simg-body3 text-center simg-bg-gray100"
                                        id="popupButton" onclick="showVideoPage()">Xem thêm</button>
                                    <%}%>
                            </div>
                </div>
            </div>
        </section>

        <div id="popup" class="popup">
            <div class="popup-blur"></div>
            <div class="popup-container">
                <span class="close">
                    <img src="/public/images/btn-menuClose.png" class="colorize" onclick="closeVideo()">
                </span>
                <div class="popup-content">
                    <img class="popup-image" src="/public/images/img-product-reference-volvo.jpg">
                    <div class="popup-info">
                        <img src="/public/images/img-product-reference-logo.jpg">
                        <div>
                            Mẫu máy xúc Volvo 220E đã được phát triển để vận hành cùng với các thiết bị đầu vào thực tế trong môi trường thực tế ảo.

                            Hệ thống phản ánh các đặc điểm vật lý và hiệu suất của thiết bị thực trong môi trường thực tế ảo, cho phép người dùng trải nghiệm hiệu suất gần như giống hệt ngoài đời thực.

                            Những tính năng tiên tiến này định vị bộ mô phỏng thực tế ảo của máy xúc Volvo 220E như là công cụ đào tạo hàng đầu trong ngành.
                        </div>
                        <a id="inquiryButton" class="simg-body3 text-center simg-bg-blue simg-white"
                            href="/vi/contact">Liên hệ với chúng tôi</a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>

        <script type="text/javascript">

            function change_service(i, t) {

                for (var q = 1; q < 5; q++) {
                    var element = document.getElementById("img" + q);
                    element.style.borderStyle = "solid";
                    element.style.borderWidth = "4px";
                    element.style.borderColor = "white";


                    var childElements = element.querySelectorAll('.product-info-model-item-title, .product-info-model-item-subTitle ');
                    childElements.forEach(function (child) {
                        child.style.color = "#999999";
                        child.style.fontWeight = "";
                    });
                }


                var selectedElement = document.getElementById(i);
                selectedElement.style.borderColor = "#25AAE2";


                var selectedChildElements = selectedElement.querySelectorAll('.product-info-model-item-title, .product-info-model-item-subTitle');
                selectedChildElements.forEach(function (child) {
                    child.style.color = "#2D5FAB";
                    child.style.fontWeight = "bold";
                });


                document.getElementById('service').innerHTML = "<img src='/public/uploads/product/" + t + "'/>";
            }




        </script>
        <div>&nbsp;</div><br>
        <div>&nbsp;</div>
        <div id="simg-templete-footer"><%- include('footer') %></div>