<%- include('header') %>
    <script>
        function showVideoPage() {

            document.getElementById('popup').style.display = 'block';
            const video = document.getElementById('popupVideo');
            video.currentTime = 0;
            video.play();
        }

        function closeVideo() {
            
            document.getElementById('popup').style.display = 'none';
            const video = document.getElementById('popupVideo');
            video.pause();
        }
    </script>
    <div class="menu-tag simg-body4 simg-gray400"><a class="index-tag simg-gray500" href="/">홈</a> > <a class="aboutUs-tag" href="#">선정사업</a></div>
    <section class="partnership-page-container">
        <div>
            <div class="partnership-page-title simg-body2 text-left">(주)심지는 다양한 시뮬레이터 및 XR 콘텐츠, 솔루션을 제공합니다.</div>
            <div class="partnership-page-message simg-body4 text-left">
                수요가 있는 기업들을 대상으로 혁신적인 XR 콘텐츠 제작을 지원하고, 산업의 생태계를 활성화하기 위해 파트너십을 운영합니다.

                이를 통해 기업들이 창의적이고 경쟁력 있는 콘텐츠를 제작할 수 있도록 도와드리며, 글로벌 시장에서의 경쟁력 강화를 목표로 합니다.
            </div>
        </div>
        <div>
            <img src="/public/images/img-partnership.jpg" class="partnership-page-image">
        </div>
    </section>

    <section class="partnership-products-container">
        <div class="partnership-products-list">
            <%   dataPatnership.forEach(function(partnership, index) { %>
            <div class="partnership-products-item  simg-bg-white text-left">
                <img src="/public/uploads/partnership/<%= partnership.partner_img %>">
                <div class="partnership-title-horizontal-stack">
                    <div class="partnership-text-area">
                        <div class="partnership-products-item-type simg-body3 simg-tangerine"><%= partnership.partner_name %></div>
                        <div class="partnership-products-item-title simg-body1 simg-black"><%= partnership.partner_project %></div>
                    </div>
                    <% if(index == 0) { %>
                        <button id="popupMediaButton" onclick="showVideoPage()" alt="Play">
                            <img src="/public/images/Icon_MediaPlay.png">
                        </button>
                    <% } %>
                </div>
                <div class="partnership-products-item-content">
                    <%   let detail = partnership.partner_detail; let splitDetails = detail.split('.');  %>
                        <ul >
                            <% splitDetails.forEach(function(part) { %>
                              <li class="simg-body4 simg-gray500" style="margin-bottom: 5px;"><%= part.trim() %></li>
                            <% }); %>
                          </ul>
                </div>
            </div>
            <%}); %>

        </div>
        <div class="partnership-products-button-area">
            <a href="/contact" class="partnership-page-contact-button simg-body2 simg-bg-blue simg-white">문의하기</a>
        </div>

        <div id="popup" class="popup" style="display: none;">
            <div class="popup-blur"></div>
            <div class="popup-video-container">
              <span class="close" onclick="closeVideo()">
                <img src="/public/images/btn-menuClose.png" class="colorize">
              </span>
              <video id="popupVideo" controls autoplay>
                <source src="/public/uploads/partnership/Volvo_R&D.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
              </video>
            </div>
          </div>
    </section>

    <style>
        .pagination .page-item.active .page-link {
            color: white !important;
            background: #ccc;
        }

        .latest-news-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 230px;
            padding: 10px;
        }

        .latest-news-info p {
            margin: 5px 0;
        }
    </style>

    <div id="simg-templete-footer"><%- include('footer') %></div>
    <script>
        $(document).ready(function () {
            $('.accordion-title').click(function () {
                $('.accordion-content').slideUp();
                $('.accordion-title').removeClass('active');

                if ($(this).next('.accordion-content').is(':visible')) {
                    $(this).next('.accordion-content').slideUp();
                    $(this).removeClass('active');
                } else {
                    $(this).next('.accordion-content').slideDown();
                    $(this).addClass('active');
                }
            });
        });
    </script>